@import '../../index.scss';


.footerBg{
  background-color: #333333;
}

.search {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  input[type="text"] {
    border-radius: 25px;
    border: none;
    padding: 10px;
    width: 400px;
  }
  
  button.subscribeButton {
    border: none;
    border-radius: 25px ;
    background-color: $mainColor;
    color: white;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    position: absolute;
    right: 0% !important;
  }